* {
    box-sizing: border-box;
}

hr {
    border: solid #ff2b2b;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 25%;
    font-size: 15px;
    padding: 8px;
    background-color:rgb(135, 122, 82);
    color: #3cf617;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.container {
    background-image:linear-gradient(to right,rgb(199, 57, 246),rgb(114, 96, 253),rgb(79, 249, 204));
    padding: 15px 50px 25px 50px;
    border: seashell;

    border-radius: 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    opacity: 0.9;
}
span {
    color: red;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    background-color: #bef2bd;
    width: 100%;
    padding: 12px;
    margin:10px;
    margin-left: 0px;
    border-radius: 5px;
    border-color: white;
}
fieldset{
    border: 2.5px solid #c1e7f5;
    border-radius: 5px;
}

.main_heading {
    text-align: center;
    font-size: 270%;
}

input[type="submit"]{
    background-color:#c91e6e;
    color:rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover{
    background-color:wheat;
    color: #c91e6e;
    font-weight: bolder;
    /* font-size: 120%; */
}
