* {
    box-sizing: border-box;
}

hr {
    border: solid #1976d2;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 12%;
    font-size: 15px;
    padding: 9px;
    background-color:rgb(177, 234, 116);
    color: #0e0d0d;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
}

.container {
    background-color:#1b028a;
    padding: 15px 50px 25px 50px;
    border: rgb(240, 238, 237);

    border-radius: 10px;
    width: fit-content;
    margin: auto;
    display: flex;
    opacity: 0.9;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    background-color: #DBE9EE;
    width: 100%;
    padding: 13px;
    margin:10px;
}
fieldset{
    border: 2.5px solid #DBE9EE;

}

.main_heading {
    text-align: center;
}

input[type="submit"]{
    background-color:#c91e6e;
    color:rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover{
    background-color:wheat;
    font-weight: bolder;
    font-size: 120%;
}
