* {
    box-sizing: border-box;
}

hr {
    border: solid #1976d2;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 12%;
    font-size: 15px;
    padding: 8px;
}

.container {
    background-color: #2196f3;
    padding: 5px 20px 15px 20px;
    border: solid #1e88e5;
    border-radius: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
fieldset,
textarea {
    width: 100%;
    padding: 12px;
    border: 3px solid #0d47a1;
    border-radius: 25px;
    margin: 10px;
}

fieldset {
    background-color: #64b5f6;
    border: 3px solid #0d47a1;
}

legend {
    border: 1px solid #0d47a1;
    padding: 5px;
    background-color: #1e88e5;
}

.main_heading {
    text-align: center;
}

input[type="submit"] {
    background-color: #1976d2;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #0d47a1;
}